<div class="container">
  <div class="row" style="margin-top: 5%;">
      <div class="text-center col-md-12">
          <input type="file" (change)="fileChangeEvent($event)" />
      </div>
  </div>
  <br>
  <button (click)="rotateImage()">Rotate Image</button>
  <div class="row" style="margin-top: 5%;">
      <div class="text-center col-md-8">
          <image-cropper 
          [imageChangedEvent]="imageChangedEvent" 
          [canvasRotation]="canvasRotation"
          [maintainAspectRatio]="true" 
          [aspectRatio]="1 / 1"
          [resizeToWidth]="256"
          [resizeToHeight]="256"
          [roundCropper]="true"
          format="jpeg"
          [imageQuality]=70
          [style.display]="showCropper ? null : 'none'"
          [onlyScaleDown]="true"
          (imageCropped)="imageCropped($event)" 
          (imageLoaded)="imageLoaded($event)"
          (loadImageFailed)="loadImageFailed()"></image-cropper>
      </div>
      <div class="text-center col-md-4">
        <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />
      </div>
  </div>
</div>